<div class="container">
<h1>Your score is:</h1>
<p>Your word: <%= @user_word %></p>
<p>Time taken to answer: <%= @result[:time] %></p>
<p>Your score: <%= @result[:score] %></p>
<p>Message: <%= @result[:message] %></p>
</div>
